mixin featureGallery(items,url,itemClass='features-gallery',modifier='')
  //- if modifier == undfined
  //-   - modifier=''
  article(class=itemClass+modifier)
    each item,index in items
      -var nth = 1+index
      article(class=itemClass+'__item'+modifier)
        h3(class=itemClass+'__item-title'+modifier)
          a(href=url,class=itemClass+'__link'+modifier) #{item.name}
        if item.icon
          div(class=itemClass+'__logo'+modifier)
            span(class='icon-'+item.icon)
        figure(class=itemClass+'__fig'+modifier)
          img(class=itemClass+'__img'+modifier,class=itemClass+"__img--"+modifier+nth, src=item.src, alt=item.name)